@{
    ViewBag.Title = "About";
}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Casual - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="../../Content/business-casual.css" rel="stylesheet" />
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="container">

        <div class="row">
            <div class="box" style="min-height: 1000px">
                <div class="col-lg-12">

                    <hr>
                    <h2 class="intro-text text-center">
                        Enhance your experience
                        <strong>with Watson as your theater guide</strong>
                    </h2>
                    <hr>
                    <p>Why scroll endlessly down a list of movie suggestions? When you don't know what movie you want to watch, it's easy to be overwhelmed by all of the choices available to you.</p>
                    <p>Have a conversation with Watson using the latest technology so that he can recommend exactly what you're in the mood for.</p>
                    <br />
                    <br />
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="http://www.newsntvonline.com/wp-content/uploads/2016/11/tv1.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="http://goffandrosenthal.com/wp-content/uploads/2017/02/family_movie_night-1024x684.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="https://ak2.picdn.net/shutterstock/videos/20149480/thumb/1.jpg?i10c=img.resize(height:160)" alt="">
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>